# For security
config.js
database.sqlite
/bot_modules/constants.js
/bot_modules/tables.js
/bot_modules/levels.json
/dataStores

# For tidyness
/helpful_stuff
/node_modules
/.vs
/images
/.vscode

# Hiding incomplete stuff
